.App {
  height: 100%;
  background: #222;
}
html {
  background-color: black;
}
.App-logo {
  animation: App-logo-spin infinite 2s linear;
  transform-origin: 50% 50%;
}

.buttonDrop {
  animation: fly-down 0.2s ease-in;
}
.buttonFly {
  animation: fly-up 0.2s ease-in;
}

img {
  max-width: 100%;
  height: auto;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
}
@keyframes App-logo-spun {
  from {
    transform: rotate(360deg);
  }
}

.zApp-logo {
  animation: App-logo-spin infinite 4s reverse;
  transform-origin: 50% 50%;
}
@keyframes fly-up {
  to {
    transform: translate(0, -2em);
  }
}
@keyframes fly-down {
  to {
    transform: translate(0, 2em);
  }
}

.App-header {
  background-color: #222;
  font: em sans-serif;
  font-size: 2em;

  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#picAndWord {
  font-size: 50px;
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: space-evenly;
}

body {
  background-color: #222;
}

.Hangman {
  font-size: 50px;
  display: flex; /* or inline-flex */
  flex-direction: row;
  float: none;

  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

HangmanPic {
  width: 100%;
  height: auto;
}

#keyboard {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
}

input {
  font: em sans-serif;
  font-size: 50px;
  width: 50px;
  height: 50px;
  caret-color: red;
  cursor: crosshair;
  text-align: center;
}

.score {
  font-size: 60px;
  text-align: center;
  color: greenyellow;
  animation: App-logo-start 0.25s linear;
  border-width: 3px;
  border-style: solid;
  margin: 5%;
  border-color: #ccc;
  background-color: #444;
  width: 50%;
}

.scoreUp {
  font-size: 60px;
  text-align: center;
  color: green;
  border-width: 3px;
  border-style: solid;
  margin: 5%;
  border-color: #ccc;
  background-color: #444;
  width: 50%;
}

.scoreUpb {
  font-size: 60px;
  text-align: center;
  color: green;
  border-width: 3px;
  border-style: solid;
  margin: 5%;
  border-color: #ccc;
  background-color: #444;
  width: 50%;
}
.scoreDown {
  font-size: 60px;
  text-align: center;
  color: red;
  animation: App-logo-spun 0.2s linear;
  border-width: 3px;
  border-style: solid;
  margin: 5%;
  border-color: #ccc;
  background-color: #444;
  width: 50%;
}

.scoreDownb {
  font-size: 60px;
  text-align: center;
  color: red;
  animation: App-logo-spin 0.2s linear;
  border-width: 3px;
  border-style: solid;
  margin: 5%;
  border-color: #ccc;
  background-color: #444;
  width: 50%;
}

.guess {
  font-size: 120px;
  text-align: center;
  color: purple;
  animation: App-logo-spin 2s infinite;
}
